doctype html
html(lang="pl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    block input
  body
    block content
    block scripts
    