extends layout

block content
    div(class="main")
        h1 Witaj w wypożyczalni książek
        nav
            ul
                li(class="menu") #[a(href="/main/search/" style="color:inherit;") Wyszukaj książkę]
                li(class="menu") #[a(href="/main/profile/" style="color:inherit;") Profil]
                li(class="menu") #[a(href="/forms/book/create" style="color:inherit;") Dodaj książke]
                li(class="menu") #[a(href="/forms/author/create" style="color:inherit;") Dodaj autora]
                li(class="menu"): a(href="/forms/bind_book_aut" style="color:inherit;") Powiąż ksiżke z autorem
                li(class="menu") #[a(href="/main/raport" style="color:inherit;") Raport księgarni]
                li(class="menu") #[a(href="/main/user_with_books" style="color:inherit;") Czytelniciy z książkami]
                li(class="menu") #[a(href="/main/user_outdated" style="color:inherit;") Czytelnicy przetrzymujący]
                li(class="menu") #[a(href="/forms/magazine" style="color:inherit;") Dodaj egzemplarz]
                li(class="menu") #[a(href="/main/list_of_available_books" style="color:inherit;") Lista dosępnych książek]
                li(class="menu") #[a(href="/log_out" style="color:inherit;") Wyloguj ]
        content
            block data
                p Znajdujesz się obecnie na głównej by dokonać akcji wybierz zakłdkę z menu bocznego.
        div(style='clear:both;')
