extends ../main
block data
    form(method="POST" class="forms")
        p Podaj swoje imię
        input(type="text" name="name" required)
        p Podaj swoje nazwisko
        input(type="text" name="surname" required)
        p Podaj swoj numer telefonu
        input(type="text" name="phone" required)
        br
        br
        input(type="submit" value="Utwórz konto czytelnicze")